{% assign author = site.authors[page.author] %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% if page.category == 'dev' %}
      {% assign css = site.devcss %}
    {% else %}
      {% assign css = site.css %}
    {% endif %}
    <title>{{ page.title }}{% if page.title %} – {% endif %}{% if page.category == 'blog' %}excellenteasy blog{% else %}excellenteasy development blog{% endif %}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta charset="utf-8">
    {% if author.name %}
      <meta name="author" content="{{ author.name }}">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ ASSET_PATH }}/css/{% if page.css %}{{ page.css }}{% else %}{{ css }}{% endif %}.css" rel="stylesheet" type="text/css" media="all">
    <link rel="shortcut icon" href="/favicon.ico">
    {% if author.gplus %}
      <link rel="author" href="{{ author.gplus }}">
    {% endif %}
    <link href="{% if page.category == 'blog' %}{{ BASE_PATH_BLOG }}{% else %}{{ BASE_PATH_DEVBLOG }}{% endif %}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{% if page.category == 'blog' %}{{ BASE_PATH_BLOG }}{% else %}{{ BASE_PATH_DEVBLOG }}{% endif %}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">
  </head>

  <body>
    <header class="top hidden-print">
      <div id="logo" alt="excellenteasy logo">
        {% if page.category == 'blog' %}
          <a href="{{ BASE_PATH_BLOG }}" title="Blog home"></a>
        {% else %}
          <a href="{{ BASE_PATH_DEVBLOG }}" title="Blog home"></a>
        {% endif %}
      </div>
    </header>
    {{ content }}
    <script type="text/javascript">{% include JB/analytics-providers/googlejs %}{% include themes/excellenteasy/downloadJSAtOnload %}</script>
  </body>
</html>
