{% assign author = site.authors[page.author] %}
<div class="introduction">You're reading an <a href="http://excellenteasy.com" title="excellenteasy home">excellenteasy</a> publication about the mobile web.</div>
<section class="container post">
  {% if page.headline %}
    <header class="row">
      <span class="span6 offset3">
        <h1>{{ page.headline }}</h1>
      </span>
    </header>
  {% endif %}
  <article class="row">
    {{ content }}
  </article>
  {% include JB/comments %}
</section>
