{% assign author = site.authors[page.author] %}
<div class="introduction">This is the&nbsp;<a href="https://excellenteasy.com" title="excellenteasy home">excellenteasy</a>&nbsp;{% if page.category == 'dev' %}development {% endif %}blog, a publication about the mobile web.</div>
<section class="container post">
  {% if page.headline %}
    <header class="row">
      <span class="span6 offset3">
        <h1>{{ page.headline }}</h1>
      </span>
    </header>
  {% endif %}
  {{ content }}
</section>
{% include themes/excellenteasy/footer.html %}
