{% assign author = site.authors[page.author] %}
<div class="introduction">You're reading an <a href="http://excellenteasy.com" title="excellenteasy home">excellenteasy</a> publication about the mobile web.</div>
<section class="container post">
  <header class="row">
    <span class="span6 offset3">
      <h1>{{ page.title }}</h1>
    </span>
    <span class="span6 offset3">
      <small>by {{ author.name }}</small>
    </span>
  </header>
  <article class="row">
    <div class="span6 offset3">
      {{ content }}
    </div>
  </article>
  <nav class="row hidden-print">
    <ul class="span6 offset3">
      <li>
        {% if page.previous %}
          <a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; older</a>
        {% else %}
          &larr; older
        {% endif %}
      </li>
      <li>
        <a href="/blog/" title="excellenteasy blog">home</a>
      </li>
      <li>
      {% if page.next %}
        <a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">newer &rarr;</a>
      {% else %}
        newer &rarr;
      {% endif %}
      </li>
    </ul>
  </nav>
  <div class="row author hidden-print">
    <div class="span6 offset3">
      written by <strong>{{ author.name}}</strong><br />
      follow the author on <em><a href="http://twitter.com/{{ author.twitter }}" title="{{ author.name}} on Twitter">Twitter</a></em><br />
    </div>
    <div class="span6 offset3">
      <img src="https://secure.gravatar.com/avatar/{{ author.gravatar }}?s=80" />
    </div>
  </div>
  {% include JB/comments %}
</section>
