extends ../layout

append head
  meta(name='description', content="You published your app to iOS first? Now your app needs to move to the world's largest mobile platform and we will help you to convert it.")
  link(rel='author', href='https://plus.google.com/105998495854622724338')

block style
  link(href='https://d2b0jc4z1uybmh.cloudfront.net/website/css/convert-5.css', rel='stylesheet', type='text/css')
  //- link(href='/css/convert-5.css', rel='stylesheet', type='text/css')


block title
  | We convert your iOS app to Android – excellenteasy

block slogan
  .span12.slogan
    | Your&nbsp;
    strong iOS app&nbsp;
    | will<br /> work on&nbsp;
    strong Android
    | ,<br />
    | in less than&nbsp;
    strong 3 hours&nbsp;
    | of your time.

block content
  section#conversion
    .slider
      .featured.iphone-frame
        .image
      .featured.iphone-screen
        .image
      .featured.nexus-frame
        .image
      .featured.nexus-screen
        .image
    .container.copy
      .row
        .span6
          h2 You published your app to iOS first?
          h3 Now your app needs to move to the world's largest mobile platform.
          | With over 900 million activations and 48 billion app installations
          | Google's Android is the logical next step for your mobile strategy.
          | We will help you to bring your app to Android.

  section#pricing
    .container
      header.row
        .span8.offset2
          h2 This is what we offer
    .container.definitions
      .row
        .span3
          h3 Content Migration
          | Content is the most important part of your app, so you should have full control over it. We can either use the existing iOS content or integrate with your own backend solution.
        .span3
          h3 Social Integration
          | It's crucial to integrate social media channels with your apps these days.
          | In order to engage your users we'll make use of Facebook, Twitter and Google Plus, just like on iOS.
        .span3
          h3 Device APIs
          | Your Android app will be able to take advantage of the same device APIs (GPS, camera, acceleration and orientation) your iOS app already uses.
        .span3
          h3 UI Conversion
          | We'll convert iOS user interface elements like tables, buttons, lists, tab- and navgiation bars to their Android counterparts.

  section#testimonials
    .container
      header.row
        .span8.offset2
          h2 What our customers say
      .row
        blockquote.span8.
          We invested 3 hours to move our<br /> existing iOS app to Android.
        .author.span4 Dr. Albrecht Pfahler<br /> CEO of&nbsp;
          a(href='http://www.remark-pharma.de') REMARK GmbH
      .row
        blockquote.span8.
          They are the leading experts<br /> in the Android conversion market.
        .author.span4 Patrice Archer<br /> Founder of&nbsp;
          a(href='https://www.facebook.com/PrimalPaleo') Primal Paleo App
      .row
        blockquote.span8.
          Half of our customers use Android devices. For business related apps like ours supporting the devices our customers use was a critical factor. It was a no brainer to convert our apps.
        .author.span4 Cam Collins<br /> CEO of&nbsp;
          a(href='http://www.exumatech.com') Exuma Technologies Inc.
  section#product
    .container
      header.row
        .span8.offset2
          h2 Be on Android in just five steps
          p The entire process is focused on minimizing the time investment on your end and ensuring highest possible quality on our end. Our common time to market is 4 weeks, but for you personally it's less than three hours. We handle the entire process on our side, so you can sleep well at night.
      .row
        .span4
          i.icon-quill
          .step 1. You make your app available to us and describe its purpose
        .span4
          i.icon-download
          .step 2. We thoroughly analyze your app and give you an offer
        .span4
          i.icon-folder
          .step 3. You accept and send us required assets and documentation
        .span4.offset2
          i.icon-wand
          .step 4. We transform the iOS app to an Android app
        .span4
          i.icon-users
          .step 5. You review your app and and publish it to the stores
      .row
        .span4.offset4
          h2#message
      .row.order
        .span4.offset4
          #order.btn.btn-large.btn-warning
            | Let's take the first step
      form#contact-form.row(action='http://services.excellenteasy.com/androidconversion/step1', method='POST', target='hidden_iframe', onsubmit='window.submit=true;')
        .span4.offset4.clear(style='text-align: center; margin-bottom: 15px;')
          | We are looking forward to starting a conversion about bringing your app to android soon.
        .control-group.span4.offset4
          label.control-label(for='name')
            strong Name
          .controls
            input#name(style='width: 100%', placeholder='John Doe', type='text', name='name', value='', dir='auto', aria-required='true', required)
        .control-group.span4.offset4
          label.control-label(for='email')
            strong E-Mail
          .controls
            input#email(style='width: 100%', placeholder='john@appcompany.com', type='text', name='email', value='', dir='auto')
        .span4.offset4.clear(style='text-align: center; line-height: 40px')
          | Everyone hates spam, so we'll respect your privacy.
          button#submit-button.btn.btn-large.btn-warning(style='width: 100%', type='submit', name='submit', value='Submit') Submit
      iframe#hidden_iframe(name='hidden_iframe', style='display: none;', onload='if(window.submit === true){window.submitted()}')


  section#reasons
    .container
      header.row
        .span8.offset2
          h2 Still not convinced?
      footer.row
        .span8.offset2
          span Get some more information why you need to move to Android now!
      .row.reasons
        .reason.span8.offset2.active
          include first.markdown
          div.next Give me more information
        .reason.span8.offset2.active
          include second.markdown
          div.next Give me more information
        .reason.span8.offset2.active
          include third.markdown
          div.next Give me more information
        .reason.span8.offset2.active
          include fourth.markdown
          div.next Give me more information
        .reason.span8.offset2.active
          include fifth.markdown
          a(href='#product') Get started with step 1

append js
  script(type="text/javascript")
    function downloadJSAtOnload() {
      var element = document.createElement("script");
      element.src = "https://d2b0jc4z1uybmh.cloudfront.net/website/js/contact-8.js";
      //- element.src = "/js/contact-8.js";
      document.body.appendChild(element);
    }
    if (window.addEventListener)
    window.addEventListener("load", downloadJSAtOnload, false);
    else if (window.attachEvent)
    window.attachEvent("onload", downloadJSAtOnload);
    else window.onload = downloadJSAtOnload;
