@import 'style';
@import '../../_lib/pygments';

body {
  color: #f2f2f2;
  background-color: #333;
}

.highlighttable {
  border-spacing: 0px
}

.code {
  width: 100%;
}

.linenos, .code {
  padding: 0;
  pre {
    font-family: Source Code Pro,Consolas,"Liberation Mono",Courier,monospace;
    padding: 8px;
    font-size: 16px;
    line-height: 22px;
    border: 0;
    border-radius: 0;
  }
}

.linenos pre {
  color: rgba(0, 0, 0, 0.298039);
  border-right: 1px solid #e5e5e5;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.code pre {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}