@import 'main';

body, html {
  background-color: #E76E48;
}

.featured {
  display: block;
  margin: 20px auto 0;
}

body > header {
  padding-bottom: 0;
}

#copy {
  background: #347093;
  .copy {
    text-align: center;
    color: white;
    padding: 40px 20px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    h1 {
      margin-top: 0;
      font-size: 2.0em;
      line-height: 1.2em;
    }
    h2 {
      line-height: 1.2em;
      a {
        text-decoration: none;
      }
    }
    a {
      color: inherit;
      text-decoration: underline;
    }

  }
}