extends ../layout

append head
  meta(name='description', content="You published your app to iOS first? Now your app needs to move to the world's largest mobile platform and we will help you to convert it.")

block style
  link(href='https://d2b0jc4z1uybmh.cloudfront.net/website/css/convert-1.css', rel='stylesheet', type='text/css')
  //- link(href='/css/convert-1.css', rel='stylesheet', type='text/css')


block title
  | We convert your iOS app to Android – excellenteasy

block slogan
  h1.span12.slogan
    | Your&nbsp;
    strong iOS app&nbsp;
    | will<br /> work on&nbsp;
    strong Android
    | ,<br />
    | in less than&nbsp;
    strong 3 hours
    | .

block content
  section#conversion
    .slider
      .featured.iphone-frame
        .image
      .featured.iphone-screen
        .image
      .featured.nexus-frame
        .image
      .featured.nexus-screen
        .image
    .container.copy
      .row
        .span6
          h1 You published your app to iOS first?
          h2 Now your app needs to move to the world's largest mobile platform.
          | With over 900 million activations and 48 billion app installations
          | Google's Android is the logical next step for your mobile strategy.
          | We will help you to bring your app to Android.

  section#testimonials
    .container
      header.row
        .span8.offset2
          h1 What our customers say:
      .row
        blockquote.span8.
          We invested 3 hours to move our<br /> existing iOS app to Android.
        .author.span4 Dr. Albrecht Pfahler<br /> CEO of&nbsp;
          a(href='http://www.remark-pharma.de') REMARK GmbH
      .row
        blockquote.span8.
          They are the leading experts<br /> in the Android conversion market.
        .author.span4 Patrice Archer<br /> Founder of&nbsp;
          a(href='https://www.facebook.com/PrimalPaleo') Primal Paleo App
      .row
        blockquote.span8.
          Half of our customers use Android devices. For business related apps like ours supporting the devices our customers use was a critical factor. It was a no brainer to convert our apps.
        .author.span4 Cam Collins<br /> CEO of&nbsp;
          a(href='http://www.exumatech.com') Exuma Technologies Inc.
  section#product
    .container
      header.row
        .span8.offset2
          h1 Five-Step iOS to Android process
          p We bring your app to Android over the course of five steps. The entire process is focused on minimizing the time investment on your end and ensuring highest possible quality on our end.
          p Our common time to market is 4 weeks, but for you personally it's less than three hours. We handle the entire process on our side, so you can sleep well at night. Just send us your current app and you'll hear from us when your Android app is ready for prime time.

      .row
        .span4
          i.icon-quill
          h2 1. Make your app available to us and describe it
        .span4
          i.icon-download
          h2 2. We analyze your app and give you an offer
        .span4
          i.icon-folder
          h2 3. Send us required assets and documentation
        .span6
          i.icon-wand
          h2 4. We confirm, ask for your payment and create your product anew
        .span6
          i.icon-users
          h2 5. Review your app and give it to your users
  section#pricing
    .container
      header.row
        .span8.offset2
          h1#message Convert your App with our Packages
      .row.pricing
        .span4
          .headline Professional
          div Static Content
          div Social Integration
          div Device APIs
          div UI Conversion
          .price $ 7,900
        .span4
          .headline.highlight Enterprise
          .highlight
            strong Remote Content
          .highlight Social Integration
          .highlight Device APIs
          .highlight UI Conversion
          .price.highlight $ 11,490
        .span4
          .headline Basic
          div Static Content
          div -
          div -
          div UI Conversion
          .price $ 5,900
      .row.order
        .span4.offset4
          #order.btn.btn-large
            | Order Now
      form#contact-form.row(action='https://docs.google.com/forms/d/1H9xLKWx89qYAAquCcI4TruN6PraE4RBADDgQNN-Qpd4/formResponse', method='POST', target='hidden_iframe', onsubmit='window.submit=true;')
        .control-group.span6.offset3
          label.control-label(for='entry_30214035')
            strong Your app's name *
          .controls
            input#entry_30214035(style='width: 100%', placeholder='App Name', type='text', name='entry.30214035', value='', dir='auto', aria-required='true', required)
        .control-group.span6.offset3
          label.control-label(for='entry_1272316739')
            strong Link to your app in the Apple App Store
            br
            | Please continue if your app is currently not in the app store.
          .controls
            input#entry_1272316739(style='width: 100%', placeholder='https://itunes.apple.com/us/app/app-name', type='text', name='entry.1272316739', value='', dir='auto')
        .control-group.span6.offset3
          label.control-label(for='entry_1555319012')
            strong Promotion Code (if your app is not free)
            br
            | Please continue if your app is currently not in the app store.
          .controls
            input#entry_1555319012(style='width: 100%', placeholder='XJK4L6A12SDG', type='text', name='entry.1555319012', value='', dir='auto')
        .control-group.span6.offset3
          label.control-label(for='entry_645247925')
            strong Other method of retrieving your app
            br
            |  If your app isn't published on the App Store, how else can we get your app?
          .controls
            textarea#entry_645247925(style='width: 100%', placeholder='Testflight?', name='entry.645247925', rows='3', cols='0', dir='auto')
        .control-group.span6.offset3
          label.control-label(for='entry_2031663475')
            strong What is the purpose of your app? *
            br
            |  Please write a short description of what your app does.
          .controls
            textarea#entry_2031663475(style='width: 100%', placeholder='It helps our customers to...', name='entry.2031663475', rows='3', cols='0', dir='auto', aria-required='true', required)
        .control-group.span6.offset3
          label.control-label(for='entry_2135121452')
            strong Contact Information *
            br
            |  How may we get back to you?
          .controls
            textarea#entry_2135121452(style='width: 100%', placeholder='E-Mail, Skype, Phone?', name='entry.2135121452', rows='3', cols='0', dir='auto', aria-required='true', required)
        input(type='hidden', name='draftResponse', value='[]')
        input(type='hidden', name='pageHistory', value='0')
        .span6.offset3
          button#submit-button.btn(style='width: 100%', type='submit', name='submit', value='Submit') Submit
      iframe#hidden_iframe(name='hidden_iframe', style='display: none;', onload='if(window.submit === true){window.submitted()}')

    .container.definitions
      .row
        .span3
          h1 Content
          | Content is the most important part of your app, so you should have full control over it. We can either use the existing iOS content or integrate with your own backend solution.
        .span3
          h1 Social Integration
          | It's crucial to integrate social media channels with your apps these days.
          | In order to engage your users we'll make use of Facebook, Twitter and Google Plus, just like on iOS.
        .span3
          h1 Device APIs
          | You Android app will be able to take advantage of the same device APIs (GPS, camera, acceleration and orientation) your iOS app already uses.
        .span3
          h1 UI Conversion
          | We'll convert common iOS user interface elements like tables, buttons, lists, tab- and navgiation bars to their Android counterparts.

append js
  script(type="text/javascript")
    function downloadJSAtOnload() {
      var element = document.createElement("script");
      element.src = "https://d2b0jc4z1uybmh.cloudfront.net/website/js/contact-1.js";
      //- element.src = "/js/contact-1.js";
      document.body.appendChild(element);
    }
    if (window.addEventListener)
    window.addEventListener("load", downloadJSAtOnload, false);
    else if (window.attachEvent)
    window.attachEvent("onload", downloadJSAtOnload);
    else window.onload = downloadJSAtOnload;
