.container
  .row
    #brand.span6.offset3.hover
      #logo
      h1.visible-desktop
        a(href='/', title='Home') excellenteasy
    //- nav.span6.visible-desktop
    //-   block nav
    //-     include nav.jade
    block slogan
    block featured

