extends layout_new

append head
  link(rel='publisher', href='https://plus.google.com/105998495854622724338')

block title
  | excellenteasy – a mobile app consultancy

block header_actions
  .col-md-1.col-sm-1.col-xs-1.col-xs-offset-1
    a#mail-button(href='mailto:contact@excellenteasy.com', title='Let\'s get in touch')
  .col-md-1.col-sm-1.col-xs-1
    a#phone-button(href='skype:djpfahler?call', title='Give us a call on Skype')

block content
  .row
    #copy.col-md-10.col-md-offset-1
      h2.h1.ultra-light Let us create mobile apps for your business.
      h3.h4.light We push mobile web technology towards becoming a first class citizen in the mobile app development space. With us you get post-platform mobile web technology that feels just like a native app – on iOS and Android.

  #services.row
    #html5.col-md-4.col-sm-12.col-xs-12
      div
        h4.light PhoneGap and HTML5 based apps
        p Get highest quality native-hybrid apps by the JavaScript experts. No compromises regarding the user experience, full native-like interface and post-platform customization. Sounds impossible? Ask us.
        a(href='mailto:html5@excellenteasy.com', title='Contact us for your HTML5 app') Let's get in touch
    //- #custom.col-md-3.col-sm-6.col-xs-12
    //-   div
    //-     h4.light Custom app development for iOS and Android
    //-     p Need a new app built from scratch or just mock-ups? Our Objective-C and Java developers together with project managers and the quality assurance team will get it off the ground.
    //-     a Tell me more
    #conversion.col-md-4.col-sm-6.col-xs-12
      div
        h4.light Platform conversions
        p Do you have an iOS app and want to cover Android as well, or vice-versa? Our specialized 5-Step process will get you there fast and without much time investment on your side.
        a(href='/convert-your-app/from-ios-to-android/') Tell me more
    #hour.col-md-4.col-sm-6.col-xs-12
      div
        h4.light Hourly
        p We are specialized in AngularJS, Chaplin, grunt and CoffeeScript development. When you need some extra coding to tweak your app you can use our services by the hour.
        a(href='mailto:hourly@excellenteasy.com', title='Contact us for hourly work') Book now

  //- #portfolio.row
  //-   p.lead.col-md-12
  //-     a See our Portfolio
