extends layout

append head
  link(rel='publisher', href='https://plus.google.com/105998495854622724338')

block style
  link(href='https://d2b0jc4z1uybmh.cloudfront.net/website/css/index-3.css', rel='stylesheet', type='text/css')
  //- link(href='/css/index-3.css', rel='stylesheet', type='text/css')

block title
  | excellenteasy – a mobile app consultancy

block slogan
  div.span12
    img.featured(src='https://d2b0jc4z1uybmh.cloudfront.net/website/img/mobile_devices.png', alt='Silhouettes of different mobile devices')
    //- img.featured(src='img/mobile_devices.png', alt='Silhouettes of different mobile devices')

block content
  section#copy
    .container.copy
      .row
        .span8.offset2
          h1 We are a mobile app consultancy
          h2 and bring your business applications to iOS, Android and the mobile web.
          | From Munich, Germany we have helped international customers to embrace the mobile revolution.
          | Currently we offer&nbsp;
          a(href='/conversion/ios-to-android/', title='convert your iOS app to Android') Android conversions for existing iOS applications&nbsp;
          | as well as&nbsp;
          a(href='/conversion/android-to-ios/', title='convert your iOS app to Android') the other way around.
          | &nbsp;We publish blogposts for both&nbsp;
          a(href='/blog/', title='excellenteasy company blog') businesses
          | &nbsp;and&nbsp;
          a(href='/devblog/', title='excellenteasy development blog') developers
          | &nbsp;about all things mobile and contribute to several&nbsp;
          a(href='http://opensource.excellenteasy.com', title='excellenteasy open source contributions') open source projects.
          h2
            a(href='mailto:contact@excellenteasy.com', title='contact excellenteasy') Let's get in touch
