extends layout_new

append head
  link(rel='publisher', href='https://plus.google.com/105998495854622724338')

block title
  | excellenteasy – a mobile app consultancy

block header_actions
  .col-md-1.col-sm-1.col-xs-1.col-xs-offset-1
    a#mail-button(href='mailto:contact@excellenteasy.com', title='Let\'s get in touch')
  .col-md-1.col-sm-1.col-xs-1
    a#phone-button(href='skype:djpfahler?call', title='Give us a call on Skype')

block content
  .row
    #copy.col-md-10.col-md-offset-1
      h2.h1.ultra-light Let us create mobile apps for your business.
      h3.h4.light We push mobile web technology towards becoming a first class citizen in the mobile app development space. With us you get post-platform mobile web technology that feels just like a native app – on iOS and Android.

  #services.row
    #conversion.col-md-4.col-sm-12.col-xs-12
      div
        h4.light Bradypodion
        p Did you ever wish to create mobile apps that look and feel right at home on both iOS and Android - using web technology? Sounds impossible? We created an open-source HTML5 framework that lets you do just that.
        a(href='http://bradypodion.io') Let me check this out
    #html5.col-md-4.col-sm-6.col-xs-12
      div
        h4.light Post-platform mobile apps
        p Get highest quality native-hybrid apps by the JavaScript experts. No compromises regarding the user experience, full native-like interface and platform-specific adaptation.
        a(href='mailto:apps@excellenteasy.com', title='Contact us for your mobile app') Let's get in touch
    #hour.col-md-4.col-sm-6.col-xs-12
      div
        h4.light Hourly
        p We are specialized in Bradypodion, AngularJS and PhoneGap development. When you need some extra coding to tweak your app you can use our services by the hour.
        a(href='mailto:hourly@excellenteasy.com', title='Contact us for hourly work') Contact now

  .row
    #stephan.founder.col-md-6.col-xs-12
      .col-md-4.col-sm-4.col-xs-12
        .avatar
      div.col-md-8.col-xs-12
        h4.light.lead Stephan Bönnemann
        p tk
        a.twitter(href="https://twitter.com/boennemann", aria-label="Twitter")
        a.github(href="https://github.com/boennemann", aria-label="GitHub")
    #david.founder.col-md-6.col-xs-12
      .col-md-4.col-sm-4.col-xs-12
        .avatar
      div.col-md-8.col-xs-12
        h4.light.lead David Pfahler
        p tk
        a.twitter(href="https://twitter.com/davidpfahler", aria-label="Twitter")
        a.github(href="https://github.com/davidpfahler", aria-label="GitHub")
