@-webkit-keyframes iphonerotate {
  0% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
  }
  30% {
    opacity: 0;
  }
  40% {
    -webkit-transform: rotate(80deg);
  }
  60% {
    -webkit-transform: rotate(80deg);
  }
  61% {
    -webkit-transform: rotate(-80deg);
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
  }
}
@-webkit-keyframes nexusrotate {
  0% {
    opacity: 0;
    -webkit-transform: rotate(70deg);
  }
  30% {
    opacity: 1;
  }
  40% {
    -webkit-transform: rotate(0deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-70deg);
  }
}
@-webkit-keyframes nexusfade {
  0% { opacity: 0; }
  40% { opacity: 1; }
  60% { opacity: 1; }
  100% { opacity: 0; }
}