body > header {
  color: white;
  background: #E76E48;
  padding-top: 40px;

  div.span6 {
    position: relative;
    #logo {
      position: absolute;
      left: 50%;
      margin-left: -40px;
      pointer-events: none;
      box-sizing: border-box;
      z-index: 100;
      overflow: visible;
      float: left;
      width: 80px;
      height: 80px;
      -webkit-transition: all 0.3s ease;
    }
    h1 {
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 50;
      display: block;
      margin: 0;
      float: left;
      opacity: 0;
      height: 100%;
      width: 100%;
      background-image: url(../img/excellenteasy_logo_text.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 80px center;
      -webkit-transition: opacity 0.1s ease;
      a {
        display: block;
        width: 100%;
        height: 100%;
        color: transparent !important;
      }
    }
    &:hover {
      #logo {
        left: 0;
        margin-left: 0;
      }
      h1 {
        opacity: 1;
      }
    }
    height: 80px;
  }
  nav {
    height: 80px;
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        text-align: center;
        display: inline-block;
        float: left;
        width: 33%;
        font-weight: 300;
        text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
        a {
          height: 80px;
          line-height: 80px;
          display: block;
        }
        a, a:active, a:focus, a:hover {
          color: white;
          text-decoration: none;
        }
        a:hover {
          text-shadow: 1px 1px 0 rgba(0,0,0,0.7);
        }
      }
    }
  }
  .slogan {
    font-size: 72px;
    line-height: 90px;
    text-align: center;
    letter-spacing: -4px;
    font-weight: 300;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    strong {
      display: block;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
    }
  }
  .slider {
    background: #347093;
    width: 100%;
    height: 295px;
    position: relative;
    overflow: hidden;
    .featured {
      pointer-events: none;
      width: 100%;
      height: 590px;
      position: absolute;
      top: -295px;
      left: 0;
      background-size: 200px 295px;
      background-repeat: no-repeat;
      background-position: center bottom;
      &.iphone-frame {
        @-webkit-keyframes iphonerotate {
          0% {
            opacity: 1;
            -webkit-transform: rotate(0deg);
          }
          40% {
            opacity: 0;
            -webkit-transform: rotate(90deg);
          }
          60% {
            opacity: 0;
            -webkit-transform: rotate(90deg);
          }
          61% {
            opacity: 0;
            -webkit-transform: rotate(-90deg);
          }
          100% {
            opacity: 1;
            -webkit-transform: rotate(0deg);
          }
        }
        -webkit-animation: iphonerotate 6s infinite;
        -webkit-transform-origin: top right;
        -webkit-transform: rotate(0deg);
        background-image: url(../img/phones/iphone_frame.png);
      }
      &.iphone-screen {
        // @-webkit-keyframes iphonefade {
        //   0% { opacity: 1; }
        //   40% { opacity: 0; }
        //   60% { opacity: 0; }
        //   100% { opacity: 1; }
        // }
        // -webkit-animation: iphonefade 6s infinite;
        opacity: 1;
        background-image: url(../img/phones/iphone_screen.png);
      }
      &.nexus-frame {
        @-webkit-keyframes nexusrotate {
          0% {
            opacity: 0;
            -webkit-transform: rotate(90deg);
          }
          40% {
            opacity: 1;
            -webkit-transform: rotate(0deg);
          }
          60% {
            opacity: 1;
            -webkit-transform: rotate(0deg);
          }
          100% {
            opacity: 0;
            -webkit-transform: rotate(-90deg);
          }
        }
        -webkit-animation: nexusrotate 6s infinite;
        -webkit-transform-origin: bottom left;
        -webkit-transform: rotate(-90deg);
        background-image: url(../img/phones/nexus_frame.png);
      }
      &.nexus-screen {
        @-webkit-keyframes nexusfade {
          0% { opacity: 0; }
          40% { opacity: 1; }
          60% { opacity: 1; }
          100% { opacity: 0; }
        }
        -webkit-animation: nexusfade 6s infinite;
        opacity: 0;
        background-image: url(../img/phones/nexus_screen.png);
      }
    }
  }
}
