body > header {
  color: white;
  background: #E76E48;
  padding-top: 40px;

  div.span6 {
    background-image: url(../img/excellenteasy_logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 80px;
  }
  nav {
    height: 80px;
    ul {
      list-style: none;
      li {
        text-align: center;
        display: inline-block;
        float: left;
        width: 33%;
        font-weight: 300;
        text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
        a, a:active, a:focus, a:hover {
          color: white;
          text-decoration: none;
        }
        a:hover {
          text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
        }
      }
    }
  }
  .slogan {
    font-size: 72px;
    line-height: 90px;
    text-align: center;
    letter-spacing: -4px;
    font-weight: 300;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    strong {
      display: block;
    }
  }
  .featured {
    background-image: url(../img/featured.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 295px;
  }
}
