#conversion {
  background: #347093;
  position: relative;
  min-height: (295px + 2 * 40px);
  .slider {
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    .featured {
      position: absolute;
      top: 40px;
      pointer-events: none;
      width: 50%;
      height: (295px + 40px);
      right: 0;
      &.iphone-frame {
        .animation(iphonerotate 6s infinite);
        .transform-origin(bottom right);
        .transform(rotate(0deg));
        .image {
          background-image: url(../img/phones/iphone_frame.png);
        }
      }
      &.iphone-screen {
        opacity: 1;
        .image {
          background-image: url(../img/phones/iphone_screen.png);
        }
      }
      &.nexus-frame {
        .animation(nexusrotate 6s infinite);
        .transform-origin(top left);
        .transform(rotate(-90deg));
        .image {
          background-image: url(../img/phones/nexus_frame.png);
        }
      }
      &.nexus-screen {
        .animation(nexusfade 6s infinite);
        opacity: 0;
        .image {
          background-image: url(../img/phones/nexus_screen.png);
        }
      }
      .image {
        background-size: 200px 295px;
        background-repeat: no-repeat;
        background-position: center;
        width: 200px;
        height: 295px;
        margin: 0 auto;
      }
    }
  }
  .copy {
    color: white;
    padding: 40px 20px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    h1 {
      font-size: 2.0em;
      line-height: 1em;
    }
  }
}

#testimonials {
  padding-bottom: 40px;
  background-color: #E7A048;
  color: white;
  .row {
    margin-top: 40px;
    // margin-left: 40px;
  }
  blockquote {
    text-align: center;
    font-weight: 300;
    font-style: italic;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    font-size: 1.5em;
    line-height: 36px;
    letter-spacing: -1px;
    &:before, &:after {
      font-family: Georgia, serif;
      font-weight: 800;
    }
    &:before {
      content: '“';
    }
    &:after {
      content: '”';
    }
  }
  .author {
    font-weight: 300;
    font-size: 1.3em;
    text-align: center;
    line-height: 38px;
    a, a:visited, a:hover, a:active, a:focus {
      color: inherit;
      text-decoration: underline;
    }
  }
}

#pricing {
  color: white;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  padding-bottom: 40px;
  background-color: #33A269;
  table {
    // color: #333333;
    text-align: center;
    th {
      font-size: 1.5em;
    }
    th, td {
      text-align: center;
    }
  }
}

/* Large desktop */
@media (min-width: 1200px) {
  #testimonials, #pricing {
    padding-top: 20px;
    padding-bottom: 60px;
  }
  #testimonials {
    blockquote {
      font-size: 2.0em;
    }
    .author {
      font-size: 1.5em;
    }
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  #conversion {
    min-height: (2 * (295px + 2 * 40px));
    .slider {
      .featured {
        width: 100%;
      }
    }
    .copy {
      padding-top: (295px + 2 * 40px);
    }
  }
}
