extends layout

block slogan
  h1.span12.slogan
    | Let's get in touch

block article
  p Bacon ipsum dolor sit amet drumstick pastrami beef ribs, short loin shank pork belly shankle doner beef capicola spare ribs corned beef. Chicken doner capicola pork belly pig jowl bacon ham leberkas brisket sausage pastrami pancetta sirloin. Filet mignon shankle tri-tip tongue. Short ribs shank tri-tip, chuck jowl ball tip beef ribs rump. Tongue chicken ham drumstick. Ball tip short ribs andouille strip steak fatback pork loin sirloin ham hock beef pork chop cow tenderloin brisket pancetta tail. Tongue ball tip ribeye tri-tip sausage, meatloaf pork belly chuck strip steak flank.
