.container
  .row
    p.span12
      | &copy; #{ new Date().getFullYear() } #{ locals.owner }
      | &nbsp;|&nbsp;
      a(href='http://keeplook.in', title='keeplook.in – the company blog') Blog
      | &nbsp;|&nbsp;
      a(href='legal.html', title='German law demands this') Legal
