.container
  .row
    .span6
      img#logo(src='img/excellenteasy_logo_standalone.png', alt="excellenteasy logo")
      h1
        a(href='/', title='Home') excellenteasy
    //- nav.span6.visible-desktop
    //-   block nav
    //-     include nav.jade
    block slogan
    block featured

