extends layout

block slogan
  h1.span12.slogan
    | We make your &nbsp;
    strong iPhone app &nbsp;<br />
    | work on &nbsp;
    strong Android &nbsp;
    //- strong We convert your apps
    //- | from iOS to Android

block content
  section#conversion
    .slider
      .featured.iphone-frame
        .image
      .featured.iphone-screen
        .image
      .featured.nexus-frame
        .image
      .featured.nexus-screen
        .image
    .container.copy
      .row
        .span6
          h1 Your app deserves to be available on the world's largest mobile platform.

          h2 Have your app on Android in weeks with our bulletproof Five-Step process.

          p Our common time to market is 4 weeks, but for you personally it's less than three hours. We handle the entire process on our side, so you can sleep well at night. Just send us your current app and you'll hear from us when your Android app is ready for prime time.

  section#testimonials
    .container
      .row
        blockquote.span8.
          The Android version of our app was ready within a week.
        .author.span4 Dr. Albrecht Pfahler<br /> CEO of&nbsp;
          a(href='http://www.remark-pharma.de') REMARK GmbH
      .row
        blockquote.span8.
          They are the leading experts in the Android conversion market.
        .author.span4 Patrice Archer<br /> Founder of&nbsp;
          a(href='https://www.facebook.com/PrimalPaleo') Primal Paleo App
      .row
        blockquote.span8.
          Half of our customers use Android devices. For business related apps like ours supporting the devices our customers use was a critical factor. Buying the Android conversion was a no brainer.
        .author.span4 Cam Collins<br /> CEO of&nbsp;
          a(href='http://www.exumatech.com') Exuma Technologies Inc.
  section#product
    .container
      header.row
        .span8.offset2
          h1 Five-Step iPhone to Android process
          | We bring your app to Android over the course of five steps. The entire process is focused on minimizing the time investment on your end and ensuring highest possible quality on our end.
      .row
        .span4
          h2 1. Make your app available to us and describe it
        .span4
          h2 2. We analyze your app and give you a binding offer
        .span4
          h2 3. Send us required assets and documentation
        .span6
          h2 4. We confirm, ask for your payment and start creating your product
        .span6
          h2 5. Review your app and give it to your users
        button.btn.btn-large.span4.offset4(type='button')
          | Let's get in touch



