extends layout

block slogan
  h1.span12.slogan
    | We make your &nbsp;
    strong iPhone app &nbsp;<br />
    | work on &nbsp;
    strong Android &nbsp;
    //- strong We convert your apps
    //- | from iOS to Android

block content
  section#conversion
    .slider
      .featured.iphone-frame
        .image
      .featured.iphone-screen
        .image
      .featured.nexus-frame
        .image
      .featured.nexus-screen
        .image
    .container.copy
      .row
        .span6
          h1 Join the right side of history,<br />have your app on Android.

          h2 Your app deserves to be available<br />on the world's largest mobile platform.

          p Our common time to market is 4 weeks, but for you personally it's less than three hours, because our process is solid and strictly defined so we save you as much time as possible. In most cases, you just need to send us your current app and you'll hear from us when your Android app is ready for prime time.

          strong We handle the entire process on our side, so you can sleep well at night.

  section#testimonials
    .container
      .row
        blockquote.span8.
          Half of my customers are on Android, supporting them is a critical sales factor.
        .author.span4 Cam Collins<br /> CEO of&nbsp;
          a(href='http://www.exumatech.com') Exuma Technologies Inc.
      .row
        blockquote.span8.
          They are the leading experts in the Android conversion market.
        .author.span4 Patrice Archer<br /> Founder of&nbsp;
          a(href='https://www.facebook.com/PrimalPaleo') Primal Paleo App
      .row
        blockquote.span8.
          The Android version of our app was ready within a week.
        .author.span4 Dr. Albrecht Pfahler<br /> CEO of&nbsp;
          a(href='http://www.remark-pharma.de') Remark Pharma GmbH
  section#pricing
    .container
      .row
        .span8
          h1 Pricing
          | We are happy to convert your app.
          | Have a look at the checklist to see if your app
          | qualifies for our special offer.
          | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.

        .span4
          table.table
            thead
              tr
                th $9590
            tbody
              tr
                td UIKit
              tr
                td RESTful API
              tr
                td Custom UI
              tr
                td Yadda
              tr
                td Yadda
              tr
                td Yadda
              tr
                td Yadda
              tr
                td
                  .btn Buy now!



