extends layout

block slogan
  h1.span12.slogan
    strong We convert your apps
    | from iOS to Android

block content
  #conversion
    .container
      .row.slider
        .span12.featured.iphone-frame
        .span12.featured.iphone-screen
        .span12.featured.nexus-frame
        .span12.featured.nexus-screen
  #testimonials
    .container
      .row
        blockquote.span8.
          The Android version of our app was ready within a week.
        .author.span4.
          John Doe – CEO Acme Inc.
      .row
        blockquote.span8.
          Agree with you, the council does. Android, your App will be.
        .author.span4.
          Yoda – Founder Booya LLC
      .row
        blockquote.span8.
          Always two there are, no more, no less: an iOS and an Android.
        .author.span4.
          Yoda – CTO Yeah Buddy Inc.
  #pricing
    .container
      .row
        .span8
          h1 Yeah Buddy
          | 10k, that's the price

        .span4
          table.table.table-striped.table-bordered
            //- caption Check if you qualify for our offer
            thead
              tr
                th Feature
                th Included
            tbody
              tr.success
                td UIKit
                td Yep
              tr.success
                td RESTful API
                td Yep
              tr.warning
                td Custom UI
                td Nope



