extends layout

block slogan
  h1.span12.slogan
    | We make your &nbsp;
    strong iPhone app &nbsp;<br />
    | work on &nbsp;
    strong Android &nbsp;
    //- strong We convert your apps
    //- | from iOS to Android

block content
  section#conversion
    .slider
      .featured.iphone-frame
        .image
      .featured.iphone-screen
        .image
      .featured.nexus-frame
        .image
      .featured.nexus-screen
        .image
    .container.copy
      .row
        .span6
          h1 Your app deserves to be available on the world's largest mobile platform.

          h2 Have your app on Android in weeks with our bulletproof Five-Step process.

          p Our common time to market is 4 weeks, but for you personally it's less than three hours. We handle the entire process on our side, so you can sleep well at night. Just send us your current app and you'll hear from us when your Android app is ready for prime time.

  section#testimonials
    .container
      .row
        blockquote.span8.
          Half of our customers use Android devices. For business related apps like ours supporting the devices our customers use was a critical factor. Buying the Android conversion was a no brainer.
        .author.span4 Cam Collins<br /> CEO of&nbsp;
          a(href='http://www.exumatech.com') Exuma Technologies Inc.
      .row
        blockquote.span8.
          They are the leading experts in the Android conversion market.
        .author.span4 Patrice Archer<br /> Founder of&nbsp;
          a(href='https://www.facebook.com/PrimalPaleo') Primal Paleo App
      .row
        blockquote.span8.
          The Android version of our app was ready within a week.
        .author.span4 Dr. Albrecht Pfahler<br /> CEO of&nbsp;
          a(href='http://www.remark-pharma.de') REMARK GmbH
  section#product
    .container
      header.row
        .span8.offset2
          h1 Five-Step iPhone to Android process
          | We bring your app to Android over the course of five steps. The entire process is focused on minimizing the time investment on your end and ensuring highest possible quality on our end.
      .row
        .span6
          h2 1. Contact us and send us your iPhone app
          | Please send us an email to Android@excellenteasy.com with information on how we can get your current iPhone app. If your app is available on the app store for free, the name of the app suffices. Otherwise please send us a promotion code. If your iPhone app is not currently on the app store, we can reply with a couple of UDIDs, so you can send us developer builds or send us your Testflight sign up link.
          | Please include a description of your app focusing especially on unusual features of your app which make it special.
        .span6
          h2 2. We check your app and reply with a binding offer stating total time and requirements
          | We will most likely reply with a binding offer. Don’t worry, the price won’t change, but we want to make sure that we can deliver what we promise in the promised timeframe. We will also send you a complete list of requirements we need before we can start creating your Android app. This could be images, audio files or text which you use in our app but also documentation for an API you use in your app or facebook and twitter API toe In the unlikely event that your app uses extraordinary features that are not included in our product we will let you know.
      .row
        .span4
          h2 3. You send us the required files or documentation
        .span4
          h2 4. We confirm, ask for your payment and start creating your product
        .span4
          h2 5. Review
          | We send the built Android app to you and ask you to review it. We would also like to ask you for a testimonial if you like our product. If you are happy with result, we can suggest you subscribe to our update plan which allows up to two changes made to your app each month for just $200 a month.



