extends layout

block slogan
  h1.span12.slogan
    strong your Apps converted
    | from iOS to Android

block featured
  .span12.slider
    .span12.featured.iphone-frame
    .span12.featured.iphone-screen
    .span12.featured.nexus-frame
    .span12.featured.nexus-screen

block content
  #testimonials
    .container
      .row
        blockquote.span8.
          The Android version of our app was ready within a week.
        .author.span4.
          John Doe – CEO Acme Inc.
      .row
        blockquote.span8.
          Agree with you, the council does. Android, your App will be.
        .author.span4.
          Yoda – Founder Booya LLC
      .row
        blockquote.span8.
          Always two there are, no more, no less: an iOS and an Android.
        .author.span4.
          Yoda – CTO Yeah Buddy Inc.
  #features
    .container
      .row
        .span12
          h1 Features
          | One million, two million, three million, four.
          | In just five years, forty million more
  #pricing
    .container
      .row
        .span12
          h1 Pricing
          | One million, two million, three million, four.
          | In just five years, forty million more


