ul
  li
    a(href='contact.html', title='Let\'s get in touch') Contact
  li
    a(href='http://keeplook.in', title='keeplook.in – the company blog') Blog
  li
    a(href='http://opensource.excellenteasy.com', title='Open Source contributions on GitHub') Open Source