extends layout

append head
  link(rel='publisher', href='https://plus.google.com/105998495854622724338')

block slogan
  h1.span12.slogan
    | Your&nbsp;
    strong iPhone app<br />
    | will work on&nbsp;
    strong Android
    | ,<br />
    | in less than&nbsp;
    strong 3 hours
    | .

block content
  section#conversion
    .slider
      .featured.iphone-frame
        .image
      .featured.iphone-screen
        .image
      .featured.nexus-frame
        .image
      .featured.nexus-screen
        .image
    .container.copy
      .row
        .span6
          h1 Your app deserves to be available on the world's largest mobile platform.

          h2 Have your app on Android with our bulletproof Five-Step process.

  section#testimonials
    .container
      .row
        blockquote.span8.
          We invested 3 hours to get our<br /> existing iPhone app converted to Android
        .author.span4 Dr. Albrecht Pfahler<br /> CEO of&nbsp;
          a(href='http://www.remark-pharma.de') REMARK GmbH
      .row
        blockquote.span8.
          They are the leading experts<br /> in the Android conversion market.
        .author.span4 Patrice Archer<br /> Founder of&nbsp;
          a(href='https://www.facebook.com/PrimalPaleo') Primal Paleo App
      .row
        blockquote.span8.
          Half of our customers use Android devices. For business related apps like ours supporting the devices our customers use was a critical factor. Buying the Android conversion was a no brainer.
        .author.span4 Cam Collins<br /> CEO of&nbsp;
          a(href='http://www.exumatech.com') Exuma Technologies Inc.
  section#product
    .container
      header.row
        .span8.offset2
          h1 Five-Step iPhone to Android process
          p We bring your app to Android over the course of five steps. The entire process is focused on minimizing the time investment on your end and ensuring highest possible quality on our end.
          p Our common time to market is 4 weeks, but for you personally it's less than three hours. We handle the entire process on our side, so you can sleep well at night. Just send us your current app and you'll hear from us when your Android app is ready for prime time.

      .row
        .span4
          i.icon-quill
          h2 1. Make your app available to us and describe it
        .span4
          i.icon-download
          h2 2. We analyze your app and give you an offer
        .span4
          i.icon-folder
          h2 3. Send us required assets and documentation
        .span6
          i.icon-wand
          h2 4. We confirm, ask for your payment and create your product
        .span6
          i.icon-users
          h2 5. Review your app and give it to your users
  section#pricing
    .container
      header.row
        .span8.offset2
          h1 App Conversion Packages
      .row
        table.table.span12
          thead
            tr
              th Professional
              th.highlight Enterprise
              th Basic
          tbody
            tr.active
              td Apple's UIKit
              td.highlight Apple's UIKit
              td Apple's UIKit
            tr
              td Device APIs
              td.highlight Device APIs
              td
            tr
              td Social Integration
              td.highlight Social Integration
              td
            tr
              td Static Content
              td.highlight
                strong Remote Content
              td Static Content
          tfoot
            tr
              td $ 7,900
              td.highlight $ 11,490
              td $ 5,900
            tr.no-border
              td
              td
                a.btn.btn-large(href='/contact/')
                  | Order Now
              td
    .container.definitions
      .row
        .span3
          h1 Apple's UIKit
          | We'll convert common iOS user interface elements like tables, buttons, lists, tabbars and navbars.
        .span3
          h1 Device APIs
          | You Android app will be able to take advantage of iOS device APIs like GPS, camera, acceleration and orientation.
        .span3
          h1 Social Integration
          | It's crucial to have social integration these days.
          | Therfor your app will make use of Facebook, Twitter, Instagram etc.
        .span3
          h1 Content
          | You may choose between static content for your app or a tight integration to your existing backend infrastructure.


