!!! 5
html
  head
    block head
      title
        block title
          | excellenteasy – iOS to Android conversion
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      link(href='/css/main.css', rel='stylesheet', type='text/css')
  body
    header
      block header
        include header.jade

    block content
      #content
        .container
          .row
            article.span8
              block article
            aside.span4
              block sidebar

    footer
      block footer
        include footer.jade
