extends ../layout

append head
  meta(name='description', content="You published your app to iOS first? Now your app needs to move to the world's largest mobile platform and we will help you to convert it.")
  link(rel='author', href='https://plus.google.com/105998495854622724338')

block style
  // link(href='https://d2b0jc4z1uybmh.cloudfront.net/website/css/convert-6.css', rel='stylesheet', type='text/css')
  link(href='/css/packaging-1.css', rel='stylesheet', type='text/css')


block title
  | Package and distribute moible apps – excellenteasy

block slogan
  h1 Mobile App Packaging & Distribution
  h2 for Apple's App Store, Google Play & amazon's mobile app distribution program

block content
  section#content
    .row
      .span6
        p Let us package your app for iOS or Android for a superfast release and headache-free distribution. We can help you meet your deadlines and get your app out as quickly as possible. The best time to release you app was in the past, the second best time is now.
        p Please select the platform or technology that your app is based on:
      .span6
        img(src="http://ccspotsy.org/wp-content/uploads/2011/01/placeholder.jpg", alt="App Store Buttons of Apple, Google and amazon")

  section#platforms
    .row
      .span3
        h1 PhoneGap
        p Need help with packaging web-based apps?
      .span3
        h1 BuzzTouch
        p We can help you with buzztouch based apps and their plugin system.
      .span3
        h1 Native Code
        p Java or Obj-C? No problem, we can take care of XCode or eclipse for you.
      .span3
        h1 Other
        p Platform not listed here? Please let us know. There is a high possibility that we can help you.
