---
layout: default
title: Error
---
{% include JB/setup %}
<section class="container post">
  <header class="row">
    <span class="span6 offset3">
      <h1>Sorry, it seems like something went wrong.</h1>
    </span>
    <span class="span6 offset3">
      <small>We're working on a fix already. In the meantime you could:</small>
    </span>
  </header>
  <article class="row" style="text-align: center">
    <div class="span6 offset3">
      <span>Use our <a href="/blog/search" title="Blog search">Search</a>.</span>
      <br>
      <br>
      <span>Go to our <a href="/" title="Website home">Website</a> or <a href="/blog" title="Blog home">Blog</a>.</span>
      <br>
      <br>
      <span>Check the address bar for typos.</span>
    </div>
  </article>
</section>
{% include themes/excellenteasy/footer.html %}
